/* Error: Undefined mixin.
 *    ,
 * 6  | /   @include notMoreThanAndEqualTo700px() {
 * 7  | |     // padding: 5px;
 * 8  | |     // background-color: $backgroundreportcards;
 * 9  | |     // margin-bottom: 1rem;
 * 10 | |     border-radius: 5px;
 * 11 | |     width: 100%;
 * 12 | \   }
 *    '
 *   src/styles/dashboard/HourWasteChart.scss 6:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 6  \2502  \250c    @include notMoreThanAndEqualTo700px() {\a 7  \2502  \2502      // padding: 5px;\a 8  \2502  \2502      // background-color: $backgroundreportcards;\a 9  \2502  \2502      // margin-bottom: 1rem;\a 10 \2502  \2502      border-radius: 5px;\a 11 \2502  \2502      width: 100%;\a 12 \2502  \2514    }\a    \2575 \a   src/styles/dashboard/HourWasteChart.scss 6:3  root stylesheet";
}
