/* Error: Undefined mixin.
 *    ,
 * 36 | /     @include tablet() {
 * 37 | |       flex-basis: 40%;
 * 38 | \     }
 *    '
 *   src/styles/auth/Signup.scss 36:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 36 \2502  \250c      @include tablet() {\a 37 \2502  \2502        flex-basis: 40%;\a 38 \2502  \2514      }\a    \2575 \a   src/styles/auth/Signup.scss 36:5  root stylesheet";
}
